<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= react_component "VoucherList",
      render(template: 'vouchers/index.json.jbuilder') %>
    </div>
  </div>
</div>
